{% extends "shop/base.html" %}
{% load static %}
{% block title %}Ecommerce Home Page{% endblock  %}
{% load bootstrap4 %}
{% block bill %}
{%if user.is_authenticated%}
{%csrf_token%}


<div class="site-section">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <span class="icon-check_circle display-3 text-success"></span>
              <h2 class="display-3 text-black">Thank you!</h2>
              <p class="lead mb-5">You order was successfuly completed.</p>
              <p><a href="{% url 'shop:market' %}" class="btn btn-sm height-auto px-4 py-3 btn-primary">Back to shop</a></p>
            </div>
          </div>
        </div>
      </div>
<div class="site-section">
        <div class="container">
          <div class="row mb-5">
            <form class="col-md-12" method="post">
              <div class="site-blocks-table">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th class="product-thumbnail">User</th>
                      <th class="product-name">ID</th>
                      <th class="product-price">Phone</th>
                      <th class="product-quantity">Order</th>
                      <th class="product-total">Quantity</th>
                      <th class="product-total">Total-Price</th>
                      <th>Order Will Arrive At</th>
                      <th class="product-remove">Date</th>
                      <th>Remove</th>
                      <th>Update</th>
                    </tr>
                  </thead>
                  <tbody>
                    {%for v in data2%}
                    
                            <td class="product-thumbnail">
                                {{v.user}}
                            </td>
                            <td class="product-name">
                              <h2 class="h5 text-black">{{c.student_id}}</h2>
                            </td>
                            <td> {{c.phone}}</td>
                            <td>
                              {{v.product}}      
                            </td>
                            <td>{{v.quantity}}</td>
                            <td>{{v.total_price}}</td>
                          <td>{{v.order_arrive_time}}</td>
                            <td>{{v.date}}</td>
                          </tr>
                          <td><a href="{% url 'shop:delete' v.id %}" class="btn btn-primary btn-lg btn-block">Remove Item</a></td>
  <td><a href="{% url 'shop:update_page' v.id%}" class="btn btn-primary btn-lg btn-block">Update Item</a></td>
                 
                    {%endfor%}
                  </tbody>
                </table>
              </div>
            </form>
          </div>
          </div>
          </div>



{% if c.TA_active %}
<div class="site-wrap">
        <div class="site-blocks-cover inner-page py-5" data-aos="fade"> 
                  <div class="row">
                    <div class=" col-md-5 ml-auto order-md-2 align-self-start">
                      <div class="site-block-cover-content">
                      <h1 class="sub-title" >My Coins</h1>
                      <div >
                      <h1 class="sub-title"> {{  c.coins  }} </h1>
                      <h4> Charge Coins <a href="#">+</a> </h4>
                      <h4>If something wrong please tell us</h4>
                      <h4> <a href="https://chat.whatsapp.com/invite/GgiydDHXAXd94BJThaOOT3"> lINK </a></h4>
                    </div>
                      </div>
                    </div>
                 
                    <div class="  col-md-6 order-1 align-self-end">
                      <img src="{%static 'shop/newversion/images/coins.png'%}" alt="Image" class="img-fluid">
                    </div>
                    <div class="col-md-2 order-1 align-self-end">
                          
                        </div>
                  </div>
              </div>
              </div>

{%else%}
<div class="site-wrap">
<div class="site-blocks-cover inner-page py-5" data-aos="fade">
        <div class="container">
          <div class="row">
            <div class="col-md-4 ml-auto order-md-2 align-self-start">
              <div class="site-block-cover-content">
              <h2 class="sub-title">#Up Comming Event</h2>
              <div >
              <h4> If You intersted to book coins <br> please join group first </h4>
                <h4> <a href="https://chat.whatsapp.com/invite/GgiydDHXAXd94BJThaOOT3"> lINK </a></h4>
              <h4>or Scan Qr code</h4>
              <img src="{%static 'shop/newversion/images/code-.jpg'%}" alt="Image" class="img-fluid">
            </div>
              </div>
            </div>
         
            <div class="col-md-6 order-1 align-self-end">
              <img src="{%static 'shop/newversion/images/coins.png'%}" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-2 order-1 align-self-end">
                  
                </div>
          </div>
        </div>
      </div>
      </div>
{%endif%}



{%endif%}
</body>
</html>
{%endblock%}