{% extends "shop/home.html" %}
{% load static %}
{% block title %}X-Eats Home Page{% endblock  %}
{% load bootstrap4 %}
{% block coins-me %}
{%if user.is_authenticated%}
{% if c.TA_active %}
<div class="site-wrap">
        <div class="site-blocks-cover inner-page py-5" data-aos="fade">
                <div class="container">
                  <div class="row">
                    <div class="col-md-4 ml-auto order-md-2 align-self-start">
                      <div class="site-block-cover-content">
                      <h1 class="sub-title" >My Coins</h1>
                      <div >
                      <h1 class="sub-title"> {{  c.coins  }} </h1>
                      <h4> Charge Coins <a href="#">+</a> </h4>
                      <h4>If something wrong please tell us</h4>
                      <h4> <a href="https://chat.whatsapp.com/invite/GgiydDHXAXd94BJThaOOT3"> lINK </a></h4>
                    </div>
                      </div>
                    </div>
                 
                    <div class="col-md-6 order-1 align-self-end">
                      <img src="{%static 'shop/newversion/images/coins.png'%}" alt="Image" class="img-fluid">
                    </div>
                    <div class="col-md-2 order-1 align-self-end">
                          
                        </div>
                  </div>
                </div>
              </div>
              </div>

{%else%}
<div class="site-wrap">
<div class="site-blocks-cover inner-page py-5" data-aos="fade">
        <div class="container">
          <div class="row">
            <div class="col-md-4 ml-auto order-md-2 align-self-start">
              <div class="site-block-cover-content">
              <h2 class="sub-title">#Up Comming Event</h2>
              <div >
              <h4> If You intersted to book coins <br> please join group first </h4>
                <h4> <a href="https://chat.whatsapp.com/invite/GgiydDHXAXd94BJThaOOT3"> lINK </a></h4>
              <h4>or Scan Qr code</h4>
              <img src="{%static 'shop/newversion/images/code-.jpg'%}" alt="Image" class="img-fluid">
            </div>
              </div>
            </div>
         
            <div class="col-md-6 order-1 align-self-end">
              <img src="{%static 'shop/newversion/images/coins.png'%}" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-2 order-1 align-self-end">
                  
                </div>
          </div>
        </div>
      </div>
      </div>
{%endif%}
{%endif%}
{% endblock %}