{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>X-Eats</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700"> 
    <link rel="stylesheet" href="{%static 'shop/newversion/fonts/icomoon/style.css'%}">

    <link rel="stylesheet" href="{%static 'shop/newversion/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{%static 'shop/newversion/css/magnific-popup.css'%}">
    <link rel="stylesheet" href="{%static 'shop/newversion/css/jquery-ui.css'%}">
    <link rel="stylesheet" href="{%static 'shop/newversion/css/owl.carousel.min.css'%}">
    <link rel="stylesheet" href="{%static 'shop/newversion/css/owl.theme.default.min.css'%}">


    <link rel="stylesheet" href="{%static 'shop/newversion/css/aos.css'%}">

    <link rel="stylesheet" href="{%static 'shop/newversion/css/style.css'%}">
    
  </head>
  <body>
  
  <div class="site-wrap">
    

    <div class="site-navbar bg-white py-2">

      <div class="search-wrap">
        <div class="container">
          <a href="#" class="search-close js-search-close"><span class="icon-close2"></span></a>
          <form action="#" method="post">
            <input type="text" class="form-control" placeholder="Search keyword and hit enter...">
          </form>  
        </div>
      </div>

      <div class="container">
        <div class="d-flex align-items-center justify-content-between">
          <div class="logo">
            <div class="site-logo">
              <a href="index.html" class="js-logo-clone">X-Eats</a>
            </div>
          </div>
          <div class="main-nav d-none d-lg-block">
            <nav class="site-navigation text-right text-md-center" role="navigation">
              <ul class="site-menu js-clone-nav d-none d-lg-block">
                <li class="has-children active">
                  <a href="index.html">Home</a>
                  <ul class="dropdown">
                    <li><a href="#">Menu One</a></li>
                  </ul>
                </li>
                
                <li><a href="shop.html">Restaurants</a></li>
                <li class="has-children active">
                  <a href="#">User</a>
                  <ul class="dropdown">
                      <li><a href="#">{{c.user}}</a></li>
                      <li><a href="{% url 'shop:mycart'%}">My Coins</a></li>
                      {% if user.is_authenticated %}
                      <li><a class="dropdown-item" href="{% url "shop:signout" %}">Sign Out</a></li>
                        {% else %}
                           <li>  <a class="dropdown-item" href="{% url "shop:signin" %}">Sign In</a></li>
                            <li> <a class="dropdown-item" href="{% url "shop:signup" %}">Signup</a></li>
                        {% endif %}
                    </ul>
                </li>
                <li><a href="#">New Arrivals</a></li>
                <li><a href="contact.html">Contact</a></li>
              </ul>
            </nav>
          </div>
          <div class="icons">
            <a href="#" class="icons-btn d-inline-block js-search-open"><span class="icon-search"></span></a>
            <a href="cart.html" class="icons-btn d-inline-block bag">
              <span class="icon-shopping-bag"></span>
            </a>
            <a href="#" class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none"><span class="icon-menu"></span></a>
          </div>
        </div>
      </div>
    </div>

    
    {% block s %} 
    
    <div class="site-blocks-cover" data-aos="fade">
        <div class="container">
          <div class="row">
            <div class="col-md-6 ml-auto order-md-2 align-self-start">
              <div class="site-block-cover-content">
              <h2 class="sub-title"  >#New  Events   -December-</h2>
             <h1 > Coins For TA   </h1>
              <a href="#" class="btn btn-black rounded-0">For more Info</a>
              <a class="btn btn-black rounded-0" href="{% url 'shop:market'%}">Shop Now</a>
              </div>
            </div>
            <div class="col-md-6 order-1 align-self-end">
              <img src="{%static 'shop/newversion/images/X-Eats-png.png'%}" alt="Image" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    <div class="site-section">
        <div class="container">
          <div class="row">
              <div class="title-section mb-5">
                  <h2 class="text-uppercase"><span class="d-block">Discover</span> The Restaurants</h2>
                </div>
          </div>
          <div class="row">
            <div class="col-md-12 block-3">
              <div class="nonloop-block-3 owl-carousel">
                 
                  <div class="item">
                      <div class="item-entry">
                          <div class="course_col col-sm-12 col-md-12">
                              <div class="course">
                                <div class="course_image"><img src="{% static 'shop/newversion/images/Elsony.jpeg' %}" alt=""></div>
                                <div class="course_body">
                                  <h3 class="course_title"><a href="course.html">السني فول وفلافل  </a></h3>
                                  <div class="course_teacher">سندوتشات شعبية 
                                  </div>
                                  <div class="course_text">
                                    <p>   الشيخ زايد  </p>
                                  </div>
                                </div>
                                <div class="course_footer">
                                  <div class="course_footer_content d-flex flex-row align-items-center justify-content-start">
                                    <div class="course_info">
                                      <i class="fa fa-unlock" aria-hidden="true"></i>
                                      <span style="color: #14bdee;font-size:18px;padding-left:10px;">10 <span style="color:#ffc80a">|</span>  12 </span>
                                    </div>
                                    <div class="course_price ml-auto" ><li  style="list-style-type: none;cursor: pointer;" onclick="location.href='/categories/shop1/';">View</li></div>
                                  </div>
                                </div>
                              </div>
                            </div>
                      </div>
                    </div>
                <div class="item"  >
                    <div class="item-entry" >
                        <div class="course_col col-lg-12 col-sm-12 col-md-12">
                            <div class="course">
                              <div class="course_image"><img src="{% static 'shop/newversion/images/tortilla.jpg' %}" alt=""></div>
                              <div class="course_body">
                                <h3 class="course_title"><a href="course.html">TORTILLA  -Pizza & Sandwish- </a></h3>
                                <div class="course_teacher">أشهى انواع البيتزا والمكرونة الايطالية والمأكولات الغربية بايدي سورية
                                </div>
                                <div class="course_text">
                                  <p>  6 اكتوبر - الحصري - الأمريكية - شارع السينما </p>
                                </div>
                              </div>
                              <div class="course_footer">
                                <div class="course_footer_content d-flex flex-row align-items-center justify-content-start">
                                  <div class="course_info">
                                    <i class="fa fa-unlock" aria-hidden="true"></i>
                                    <span style="color: #14bdee;font-size:18px;padding-left:10px;">10 <span style="color:#ffc80a">|</span> 12 <span style="color:#ffc80a">|</span> 2 <span style="color:#ffc80a">|</span>4</span>
                                  </div>
                                  <div class="course_price ml-auto" ><li  style="list-style-type: none;cursor: pointer;" onclick="location.href='/categories/shop1/';">View</li></div>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                  </div>
                
                  <div class="item">
                      <div class="item-entry">
                          <div class="course_col col-sm-12 col-md-12">
                              <div class="course">
                                <div class="course_image"><img src="{% static 'shop/newversion/images/coming-soon.png' %}" alt=""></div>
                                <div class="course_body">
                                  <h3 class="course_title"><a href="course.html"> </a></h3>
                                  <div class="course_teacher">
                                  </div>
                                  <div class="course_text">
                                    <p></p>
                                  </div>
                                </div>
                                <div class="course_footer">
                                  <div class="course_footer_content d-flex flex-row align-items-center justify-content-start">
                                    <div class="course_info">
                                      <i class="fa fa-unlock" aria-hidden="true"></i>
                                    
                                    </div>
                                    <div class="course_price ml-auto" >Soon</div>
                                  </div>
                                </div>
                              </div>
                            </div>
                      </div>
                    </div>
                <div class="item">
                    <div class="item-entry">
                        <div class="course_col col-sm-12 col-md-12">
                            <div class="course">
                              <div class="course_image"><img src="{% static 'shop/newversion/images/coming-soon.png' %}" alt=""></div>
                              <div class="course_body">
                                <h3 class="course_title"><a href="course.html"> </a></h3>
                                <div class="course_teacher">
                                </div>
                                <div class="course_text">
                                  <p></p>
                                </div>
                              </div>
                              <div class="course_footer">
                                <div class="course_footer_content d-flex flex-row align-items-center justify-content-start">
                                  <div class="course_info">
                                    <i class="fa fa-unlock" aria-hidden="true"></i>
                                  
                                  </div>
                                  <div class="course_price ml-auto" >Soon</div>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                  </div>
  
              </div>
            </div>
          </div>
        </div>
      </div>
  

    
   

    
    {% endblock %}


    <div class="site-blocks-cover inner-page py-5" data-aos="fade">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ml-auto order-md-2 align-self-start">
            <div class="site-block-cover-content">
            <h2 class="sub-title">#Up Comming Event</h2>
            <h1>Book Coins Now !</h1>
            <p><a href="#" class="btn btn-black rounded-0">Book Coins</a></p>
            </div>
          </div>
          <div class="col-md-6 order-1 align-self-end">
            <img src="{%static 'shop/newversion/images/coins.png'%}" alt="Image" class="img-fluid">
          </div>
        </div>
      </div>
    </div>

    <footer class="site-footer custom-border-top">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
            <h3 class="footer-heading mb-4">Promo</h3>
            <a href="#" class="block-6">
              <img src="{%static 'shop/newversion/images/coins.png'%}"  alt="Image placeholder" class="img-fluid rounded mb-4">
              <h3 class="font-weight-light  mb-0">Promo Code for New Coins !!</h3>
              <p>Promo finish at  15 &mdash; 11, 2019</p>
            </a>
          </div>
          <div class="col-lg-5 ml-auto mb-5 mb-lg-0">
            <div class="row">
              <div class="col-md-12">
                <h3 class="footer-heading mb-4">Quick Links</h3>
              </div>
              <div class="col-md-6 col-lg-4">
                <ul class="list-unstyled">
                  <li><a href="#">Sell online</a></li>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Shopping cart</a></li>
                  <li><a href="#">Store builder</a></li>
                </ul>
              </div>
              <div class="col-md-6 col-lg-4">
                <ul class="list-unstyled">
                  <li><a href="#">Mobile commerce</a></li>
                  <li><a href="#">Dropshipping</a></li>
                  <li><a href="#">Website development</a></li>
                </ul>
              </div>
              <div class="col-md-6 col-lg-4">
                <ul class="list-unstyled">
                  <li><a href="#">Point of sale</a></li>
                  <li><a href="#">Hardware</a></li>
                  <li><a href="#">Software</a></li>
                </ul>
              </div>
            </div>
          </div>
          
          <div class="col-md-6 col-lg-3">
            <div class="block-5 mb-5">
              <h3 class="footer-heading mb-4">Contact Info</h3>
              <ul class="list-unstyled">
                <li class="address">Octobor- 3th disrct </li>
                <li class="phone"><a href="tel://23923929210">+2 392 3929 210</a></li>
                <li class="email">h.elshazly@nu.edu.eg</li>
              </ul>
            </div>

            <div class="block-7">
              <form action="#" method="post">
                <label for="email_subscribe" class="footer-heading">Subscribe</label>
                <div class="form-group">
                  <input type="text" class="form-control py-4" id="email_subscribe" placeholder="Email">
                  <input type="submit" class="btn btn-sm btn-primary" value="Send">
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>
    </footer>
  </div>

  <script src="{%static 'shop/newversion/js/jquery-3.3.1.min.js'%}"></script>
  <script src="{%static 'shop/newversion/js/jquery-ui.js'%}"></script>
  <script src="{%static 'shop/newversion/js/popper.min.js'%}"></script>
  <script src="{%static 'shop/newversion/js/bootstrap.min.js'%}"></script>
  <script src="{%static 'shop/newversion/js/owl.carousel.min.js'%}"></script>
  <script src="{%static 'shop/newversion/js/jquery.magnific-popup.min.js'%}"></script>
  <script src="{%static 'shop/newversion/js/aos.js'%}"></script>

  <script src="{%static 'shop/newversion/js/main.js'%}"></script>
    
  </body>
</html>